/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500&family=Sorts+Mill+Goudy&display=swap');

@font-face {
  font-family: 'RoxboroughCF';
  src: url('../fonts/roxborough-cf-regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

/* General Styling for Categories */
.category {
  background-color: #045174; /* Azul más clarito */
  border-radius: 10px;
  font-size: 10px;
  padding: 3px 8px;
  text-align: center;
  color: white;
  display: inline-block;
  margin-bottom: 5px;
  font-family: 'Montserrat';
}

.cat-color-purple {
  background-color: #001f3d; /* Azul oscuro */
}

.cat-color-green {
  background-color: #e87a00;
}

.cat-color-peach {
  background-color: #f8dcbf; /* Naranja chillón */
}

/* Container */
.container {
  max-width: 1000px;
}

/* Header */
header.text-center {
  margin-bottom: 0;
  padding: 0 !important;
}

/* Contact Information */
h6 {
  float: left;
  font-family: 'RoxboroughCF', serif;
  font-size: 1rem;
  padding: 20px 50px;
  margin: 0;
  color: #f8dcbf ;
}

p {
  float: left;
  font-family: 'Montserrat', sans-serif;
  font-size: 0.75rem;
  padding: 20px 10px;
  margin: 0;
}

a {
  text-decoration: none;
  color: #001f3d; /* Azul oscuro */
}

a:hover {
  text-decoration: underline;
  color: #e87a00; /* Naranja chillón */
}

/* Data Projects */
.grid {
  display: flex;
  flex-wrap: wrap;
}

.grid-item {
  background-color: #f8dcbf;
  padding: 2%;
  box-sizing: border-box;
}

.grid-item img {
  max-width: 100%;
  height: auto;
}

/* Data Projects Specific */
h5 {
  margin-bottom: 20px;
  color: #f8dcbf ;
}

/* Education */
.col-6 {
  font-family: 'RoxboroughCF', serif;
  font-size: 1rem;
  padding: 50px 20px;
}

.col-6:nth-child(1),
.col-6:nth-child(3) {
  background-color: #f8dcbf; /* Naranja clarito, tipo beige */
}

.col-gen {
  background-color: #001f3d ; /* Naranja clarito, tipo beige */
  font-family: 'RoxboroughCF', serif;
  font-size: 1rem;
  padding: 50px 20px;
}

ul {
  font-family: 'Montserrat', sans-serif;
  font-size: 1.25rem;
  font-variant: small-caps;
  font-weight: bold;
}

ul ul {
  font-family: 'RoxboroughCF', serif;
  font-size: 1.25rem;
  font-variant: small-caps;
  font-weight: bold;
  padding-bottom: 2rem;
}

li {
  padding-bottom: 2rem;
  line-height: 1;
}

li span {
  font-family: 'RoxboroughCF', serif;
  font-variant: normal;
  font-size: 0.8rem;
  font-weight: normal;
}

/* Images */
img {
  max-width: 100%;
  height: auto;
}

/* Hover Images */
.project-link {
  position: relative; /* Set the link to relative to position child elements absolutely */
  display: block; /* Ensure it’s block-level */
  text-decoration: none; /* Remove underline from links */
  margin-top: 10px;
  overflow: auto;
}

.project-content {
  position: relative; /* Set to relative for absolute positioning of text */
}

.project-content img {
  display: block; /* Ensure image is displayed as block */
  width: 100%; /* Make sure image scales within container */
  height: auto; /* Maintain aspect ratio */
}

.hover-text {
  display: none; /* Hide text by default */
  position: absolute; /* Position absolutely within the container */
  top: 50%; /* Center vertically */
  left: 50%; /* Center horizontally */
  transform: translate(-50%, -50%); /* Center precisely */
  background-color: rgba(0, 0, 0, 0.8); /* Dark background with opacity */
  color: white; /* White text color */
  padding: 10px; /* Padding around the text */
  border-radius: 5px; /* Rounded corners */
  text-align: center; /* Center text */
  font-size: 0.7rem; /* Smaller font size */
  z-index: 10; /* Ensure it's above the image */
}

.project-link:hover .hover-text {
  display: block; /* Show text on hover */
}

.project-link:hover img {
  opacity: 0.3; /* Optionally reduce image opacity on hover */
}
