/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500&family=Sorts+Mill+Goudy&display=swap');

@font-face {
  font-family: 'RoxboroughCF';
  src: url('../fonts/roxborough-cf-regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

/* Loader CSS */

/* Full-screen overlay for the loader */
.gen_loader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw; /* Full screen width */
  height: 100vh; /* Full screen height */
  background-color: rgba(255, 255, 255, 0.8); /* Semi-transparent background */
  z-index: 9999; /* Make sure it stays on top */
}

/* Spinning loader styles */
.loader {
  border: 16px solid #f8dcbf;
  border-radius: 50%;
  background-color: #e67a00;
  opacity: 0.8; /* Corrected opacity */
  border-top: 16px solid #045174;
  width: 5rem;
  height: 5rem;
  animation: spin 2s linear infinite;
  position: absolute;
  top: 50%;
  left: calc(50% - 2.5rem);
  transform: translate(-50%, -50%);
}

/* Loader spinning animation */
@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

/* General Styling for Categories */

.dark-blue {
  color: #001f3d;
}

.category {
  background-color: #045174; /* Azul más clarito */
  border-radius: 10px;
  font-size: 10px;
  padding: 3px 8px;
  text-align: center;
  color: white;
  display: inline-block;
  margin-bottom: 5px;
  font-family: 'Montserrat';
}

.cat-color-purple {
  background-color: #001f3d; /* Azul oscuro */
}

.cat-color-green {
  background-color: #e87a00;
}

.cat-color-peach {
  background-color: #f8dcbf; /* Naranja chillón */
}

/* Container */
.container {
  max-width: 1000px;
}

/* Header */
header.text-center {
  margin-bottom: 0;
  padding: 0 !important;
}

/* Contact Information */
.contacto{
  width: auto;
  margin-top: 3px;
}

h6 {
  /* float: left; */
  font-family: 'RoxboroughCF', serif;
  font-size: 1rem;
  padding: 20px 50px;
  margin: 0;
  color: #e87a00 ;
  width: auto !important;
}

p {
  float: left;
  font-family: 'Montserrat', sans-serif;
  font-size: 0.75rem;
  padding: 20px 10px;
  margin: 0;
}

a {
  text-decoration: none;
  color: #001f3d; /* Azul oscuro */
}

a:hover {
  text-decoration: underline;
  color: #045174; /* Naranja chillón */
}

/* Data Projects */
.grid {
  height: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: flex-start;
}

.grid-item {
  height: auto;
  background-color: #f8dcbf;
  padding: 2%;
  box-sizing: border-box;
  border-top: 2px solid white;
  border-left: 2px solid white;
}

.grid-item:hover {
  background-color: white;
}

.grid-item img {
  max-width: 60%;
  height: auto;
}

/* Data Projects Specific */
h5 {
  margin: 20px 0;
  color: #001f3d ;
  font-family: 'RoxboroughCF', serif;
}

/* Education */
.col-6 {
  font-family: 'RoxboroughCF', serif;
  font-size: 1rem;
  padding: 20px;
}

/* .col-6:nth-child(1),
.col-6:nth-child(3) {
  background-color: #f8dcbf; 
} */

.col-gen {
  /* background-color: #001f3d; */
  font-family: 'RoxboroughCF', serif;
  font-size: 1rem;
  padding: 20px;
}

ul {
  font-family: 'Montserrat', sans-serif;
  font-size: 1.25rem;
  font-variant: small-caps;
  font-weight: bold;
  color: #001f3d;
}

ul ul {
  font-family: 'RoxboroughCF', serif;
  font-size: 1.25rem;
  font-variant: small-caps;
  font-weight: bold;
}

li {
  padding-top: 1rem;
  line-height: 1;
}

li span {
  font-family: 'Montserrat', serif;
  font-variant: normal;
  font-size: 0.8rem;
  font-weight: normal;
}

.certifications {
  padding-top: 0;
}

/* Images */
img {
  max-width: 50%;
  height: auto;
  display: block;
  margin: 0 auto;
}

/* Hover Images */
.project-link {
  position: relative; /* Set the link to relative to position child elements absolutely */
  display: block; /* Ensure it’s block-level */
  text-decoration: none; /* Remove underline from links */
  margin-top: 10px;
  margin-bottom: 10px !important;
  overflow: auto;
}

.project-content {
  position: relative; /* Set to relative for absolute positioning of text */
}

.project-content img {
  display: block; /* Ensure image is displayed as block */
  width: 100%; /* Make sure image scales within container */
  height: auto; /* Maintain aspect ratio */
  margin-top: 10px;
}

.hover-text {
  display: none; 
  position: absolute; 
  top: 30%; 
  left: 30%; 
  right: -30%; 
  transform: translate(-30%, -30%); 
  background-color: #045174cc;
  color: white; 
  padding: 10px; 
  border-radius: 5px;
  text-align: center; 
  font-size: 0.7rem; 
  z-index: 10; 
}

.project-link:hover .hover-text {
  display: block; /* Show text on hover */
}

.project-link:hover img {
  opacity: 0.3; /* Optionally reduce image opacity on hover */
}

.line {
  border-top: 1px solid #001f3d;
  margin-top: 20px;
}

.cards {
  border-radius: 16px;
  padding: 12px;
  color: white;
}

.cards h2 {
  color: #001f3d;
  font-size: 0.9rem;
  font-weight: bold;
  font-family: 'Montserrat';
  padding-bottom: 0;
}

.cards ul {
  padding: 0 1rem;
  margin: 0;
}

.cards li {
  font-variant: normal;
  font-family: 'Montserrat';
  font-weight: normal;
  font-size: 0.8rem;
  padding-top: 0.25rem;
}


/* Media Queries */

/* Custom media queries for Masonry grid */
@media (max-width: 576px) {
  .grid-item {
    flex: 0 0 45%;
    max-width: 45%;
  }

  .contacto{
    width: 100%;
    margin-top: 3px;
  }

  h6, p {
    padding: 5px 10px;
  }

  h6 {
    padding: 20px 10px;
  }
}

@media (min-width: 576px) and (max-width: 768px) {
  .grid-item {
    flex: 0 0 45%;
    max-width: 45%;
  }
}

@media (min-width: 768px) and (max-width: 992px) {
  .grid-item {
    flex: 0 0 32%;
    max-width: 32%;
  }
}

@media (min-width: 992px) {
  .grid-item {
    flex: 0 0 25%;
    max-width: 25%;
  }
} 