[submodule "mysql_sales_repo"]
	path = mysql_sales_repo
	url = https://github.com/MaiteLizarraga/mysql_sales_repo
[submodule "edl_univariate_food"]
	path = edl_univariate_food
	url = https://github.com/MaiteLizarraga/edl_univariate_food.git
[submodule "/mnt/c/Users/maite/Desktop/maitelizarraga.github.io/playing_with_python/playing_with_python"]
	path = /mnt/c/Users/maite/Desktop/maitelizarraga.github.io/playing_with_python/playing_with_python
	url = https://github.com/MaiteLizarraga/playing_with_python.git
[submodule "playing_with_python"]
	path = playing_with_python
	url = https://github.com/MaiteLizarraga/playing_with_python.git
[submodule "postgres_project_management"]
	path = postgres_project_management
	url = https://github.com/MaiteLizarraga/postgres_project_management.git
