[submodule "mysql_sales_repo"]
	path = mysql_sales_repo
	url = https://github.com/MaiteLizarraga/mysql_sales_repo
[submodule "edl_univariate_food"]
	path = edl_univariate_food
	url = https://github.com/MaiteLizarraga/edl_univariate_food.git
[submodule "playing_with_python"]
	path = playing_with_python
	url = https://github.com/MaiteLizarraga/playing_with_python.git
[submodule "postgres_project_management"]
	path = postgres_project_management
	url = https://github.com/MaiteLizarraga/postgres_project_management.git
[submodule "r_eigenfaces_pca"]
	path = r_eigenfaces_pca
	url = https://github.com/MaiteLizarraga/r_eigenfaces_pca.git
[submodule "r_markov_chains"]
	path = r_markov_chains
	url = https://github.com/MaiteLizarraga/r_markov_chains.git
[submodule "calculadora_hipoteca"]
	path = calculadora_hipoteca
	url = https://github.com/MaiteLizarraga/vba_excel_calculadora_hipoteca.git

[submodule "real_estate_analysis"]
	path = real_estate_analysis
	url = https://github.com/MaiteLizarraga/real_estate_analysis.git
[submodule "real_estate_uni_bivariable"]
	path = real_estate_uni_bivariable
	url = https://github.com/MaiteLizarraga/real_estate_uni_bivariable.git
